body{
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;

}
.container{
    height: 357px;
    width: 340px;
    margin-top: 30px;
    background: white;
    border: 1px solid rgb(156, 153, 153);
}
.insta_logo{
    height: 40px;
    margin-top: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 92px;
}
.email{
    margin-left: 30px;
    padding: 9px;
    background: whitesmoke;
    width: 80%;
    border: 1px solid rgb(234, 234, 234);
}
.email:focus{
    outline: none;
    border-color:rgb(178, 178, 178) ;
}
::placeholder{
    font-size: 11px;
    color: rgb(173, 173, 173);
}
.password{
    margin-top: 10px;
}
.container button{
    background: rgb(0,149,246);
    border: none;
    padding: 6px;
    width: 80%;
    margin-left: 30px;
    color: white;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.or{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px ;
    color: rgb(151,151,151);
}
.or::before{
    content: '';
    position: absolute;
    height: 1px ;
    width: 100px;
    background-color: rgb(191, 191, 191);
    margin-top: 5px;
    margin-left: 26px;
}
.or::after{
    content: '';
    position: absolute;
    height: 1px ;
    width: 95px;
    background-color: rgb(191, 191, 191);
    margin-top: 5px;
    margin-left: -125px;
}
.facebook{
    height: 16px;
    width: 16px;
    margin-left: 80px; 
    cursor: pointer;
}
.fb{
    color: rgba(6, 36, 100, 0.825);
    font-family: sans-serif;
    margin-left: 105px;
    margin-top: -15px;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}
.forgot{
    color: rgb(32,80,125);
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 120px;
    font-weight: lighter;
    margin-top: -30px;
    cursor: pointer;
}
.dont{
    padding: 2px;
    background: white;
    text-align: center;
    border: 1px solid rgb(174, 174, 174);
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(50, 49, 49);
}
.dont span{
    color: #03a6eb;
    font-weight: bolder;
    cursor: pointer;
}
.get{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}
.img img{
    height: 35px;
    width: 120px;
    margin-left: 33px;
    vertical-align: baseline;
    cursor: pointer;
}
@media  screen and (max-width: 400px) {
    .img img{
        height: 30px;
        width: 110px;
        margin-left: 60px;
}
.facebook {
    margin-left: 50px;
}
.fb{
    margin-left: 70px;
}
.dont{
    border: none;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
}
.container{
    border: none;
    background: rgb(250, 250, 250);
}
.or::before{
    width: 85px;
}
.or::after{
    width: 70px;
    margin-left: -100px;
}
}